 html, body{
  color: black;
    max-width: 100% !important;
    overflow-x: hidden !important;
    margin: 0px;
    padding: 0px;
    background: white;
    
}


img{
  width: 100%;
}
a{
  display: inline-block;
 
  text-decoration: none;

}
.foto1{
    margin-left:-20px;
}
.foto2{
    margin-left:-20px;
}
.foto3{
    margin-left:-20px;
}

.texto{
  font-family: 'Oleo Script Swash Caps';
  color: #E7342F;


}

.pie{
  margin-top: 100px;
  background: #0054AE;
  margin-bottom: 0px;
  font-size: 1.2rem;
  color:black;
  position:relative;
  z-index: -1;
  text-decoration:none;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}


